<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--阿里云日志服务配置项，当 log4net.config 中配置值为空时，配置项起效-->
    <!--创建 project 所属区域匹配的日志服务 Endpoint，必填参数-->
    <add key="AliyunLOG_Endpoint" value="cn-beijing.log.aliyuncs.com"/>
    <!--阿里云访问秘钥 AccessKeyId，必填参数-->
    <add key="AliyunLOG_AccessKeyId" value="AccessKeyId"/>
    <!--阿里云访问秘钥 AccessKeySecret，必填参数-->
    <add key="AliyunLOG_AccessKeySecret" value="AccessKeySecret"/>
    <!--日志服务的 project 名，必填参数-->
    <add key="AliyunLOG_Project" value="Project"/>
    <!--日志服务的 logstore 名，必填参数-->
    <add key="AliyunLOG_Logstore" value="Logstore"/>
    <!--日志主题，必填参数-->
    <add key="AliyunLOG_Topic" value="Topic"/>
    <!--日志来源，选填参数-->
    <add key="AliyunLOG_Source" value="Source"/>
    
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
</configuration>