<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>

    <!-- Define some output appenders -->
    <!--定义输出到文件中-->
    <appender name="AllAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value="Logs/All/" />
      <!--是否覆盖，默认是追加true-->
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <!--文件名称-->
      <DatePattern value="yyyy-MM-dd/HH.lo\g"></DatePattern>
      <!--文件字符编码-->
      <param name="Encoding" value="utf-8"/>
      <!--设置无限备份=-1 ，最大备份数为1000-->
      <param name="MaxSizeRollBackups" value="1000"/>
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="10MB"/>
      <!--名称是否可以更改为false为可以更改-->
      <param name="StaticLogFileName" value="false"/>
      <!--保持文件扩展名一直为.log-->
      <!--<param name="PreserveLogFileNameExtension" value="true"/>-->
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %logger %method(%line) %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
      </filter>
    </appender>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <!--定义推送到阿里云日志服务中-->
    <appender name="AliyunLogAppender" type="Aliyun.LOGSDK.log4net.AliyunLogAppender, Aliyun.LOGSDK.log4net">
      <!--此处可为空，为空时，从应用程序配置的 AppSettings 节点获取配置项值，其配置 Key 前缀为【AliyunLOG_】-->
      <!--创建 project 所属区域匹配的日志服务 Endpoint，必填参数-->
      <Endpoint value="" />
      <!--阿里云访问秘钥 AccessKeyId，必填参数-->
      <AccessKeyId value="" />
      <!--阿里云访问秘钥 AccessKeySecret，必填参数-->
      <AccessKeySecret value="" />
      <!--日志服务的 project 名，必填参数-->
      <Project value="" />
      <!--日志服务的 logstore 名，必填参数-->
      <Logstore value="" />
      <!--日志主题，必填参数-->
      <Topic value="" />
      <!--日志来源，选填参数-->
      <Source value="" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
      </filter>
    </appender>

    <!--定义日志的输出媒介，下面定义日志以五种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--control log level: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
      <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
      <level value="ALL"/>
      <!--文件形式记录日志-->
      <appender-ref ref="AllAppender"/>
      <!--控制台显示日志-->
      <appender-ref ref="ConsoleAppender"/>
      <!--日志推送到阿里云日志服务，level: ALL-->
      <appender-ref ref="AliyunLogAppender"/>
    </root>
  </log4net>
</configuration>